<div class="card-columns">

  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <p class="card-text">You can customize this dashboard adding your own RSS Feeds.</p>
      <a href="#" class="btn btn-primary">Add New Feed</a>
    </div>
  </div>

  <feed-card url="http://elpais.com/tag/rss/futbol/a/"></feed-card>
  <feed-card url="http://www.superdeporte.es/elementosInt/rss/2"></feed-card>
  <feed-card url="http://ep00.epimg.net/rss/tags/ultimas_noticias.xml"></feed-card>
  <feed-card url="http://estaticos.elmundo.es/elmundo/rss/portada.xml"></feed-card>

</div>
