<div class="card-columns">

  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block" *ngIf="!showAddFeedForm">
      <p class="card-text">You can customize this dashboard adding your own RSS Feeds.</p>
      <a href="#" class="btn btn-primary" (click)="showAddFeedForm = true">Add New Feed</a>
    </div>

    <div class="card-block" *ngIf="showAddFeedForm">
      <form>
        <div class="form-group">
          <input #feedUrlInput type="text" class="form-control" id="feedUrlInput" placeholder="RSS Feed URL" autofocus>
        </div>
      </form>
      <button class="btn btn-primary" (click)="addFeedUrl(feedUrlInput.value)">Add</button>
      <button class="btn btn-secondary" (click)="showAddFeedForm = false">Cancel</button>
    </div>
  </div>

  <div *ngFor="let url of feedUrls">
    <feed-card [url]="url"></feed-card>
  </div>

</div>
