<div class="card-columns">

  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block" *ngIf="!showAddFeedForm">
      <p class="card-text">You can customize this dashboard adding your own RSS Feeds.</p>
      <a href="#" class="btn btn-primary" (click)="showAddFeedForm = true">Add New Feed</a>
    </div>

    <div class="card-block" *ngIf="showAddFeedForm">
      <form>
        <div class="form-group" [ngClass]="{'has-warning': !feedUrlRef.pristine && !feedUrlRef.valid}">
          <input type="text" [(ngModel)]="feedUrl" #feedUrlRef="ngModel"
                 class="form-control" id="feedUrlInput" name="feedUrlInput" placeholder="RSS Feed URL" autofocus
                 required>
          <div class="form-control-feedback" *ngIf="!feedUrlRef.pristine && !feedUrlRef.valid">
            Please enter a valid URL.
          </div>
        </div>
      </form>
      <button class="btn btn-primary" (click)="addFeedUrl(feedUrlRef.value)" [disabled]="!feedUrlRef.valid">Add</button>
      <button class="btn btn-secondary" (click)="clearForm()">Cancel</button>
    </div>
  </div>

  <div *ngFor="let url of feedUrls">
    <feed-card [url]="url"></feed-card>
  </div>

</div>
